<h1 mat-dialog-title>Do you want to change {{data.label}}?</h1>
<form>
  <mat-form-field class="full-width">
    <input [maxlength]="40" matInput placeholder="{{ data.content }}"
           [formControl]="inputFormControl">
    <mat-error *ngIf="inputFormControl.hasError('required')">
      {{data.label}} is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="full-width buttons-section">
    <button class="button" [disabled]="inputFormControl.invalid"
            mat-raised-button color="primary"
            [mat-dialog-close]="inputFormControl.value"
    >Ok</button>

    <button class="button" mat-raised-button (click)="onNoClick()">No</button>
  </div>
</form>
