//.sidenav-container {
//  height: 100%;
//}

.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

::ng-deep .mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

//:host {
//  overflow: hidden;
//}
